<template>
  <v-container fill-height="true" justify-center="true" grid-list-md text-xs-center>  
    <v-form ref="form">
      <v-layout row wrap>
        <v-flex sm12>
        <v-alert
          dismissible
          v-model="isVisible"
          :value="true"
          v-bind:type="errorS">
          {{ message }}.
        </v-alert>
        </v-flex>
        <v-flex sm12>
          <v-select 
            :items="tenders" 
            item-text="name" 
            item-value="id" 
            @change = "setTender"
            label="Licitaciones">    
          </v-select>
        </v-flex>
        <template v-if="tender">
          <v-flex sm12>
            <span class="subheading">Descripción</span>
            <div id="description">
              {{ tender.description }}
            </div>
          </v-flex>

          <v-flex xs12 sm12 id="question">
            <v-text-field
              v-model="question"
              label="Pregunta"
              placeholder="Escriba la pregunta con referencia a la licitacion seleccionada"
            ></v-text-field>
          </v-flex>

          <v-flex xs12 sm12>
            <v-btn @click="saveQuestionTender" >Preguntar</v-btn>
          </v-flex>
        </template>
      </v-layout>
    </v-form>
  </v-container>
</template>
<script>
  import axios from 'axios'

  export default {
    name : "AskAboutLicitacion",
    data () {
    return {
        url : 'http://localhost:8080/v1/tenders', // url de las licitaciones
        urlQuestion : 'http://localhost:8080/v1/tenders/{id_tender}/questions',
        tenders: [], // licitaciones
        tender: '',  // licitacion seleccionada
        question:'', // pregunta sobre la licitacion seleccionada
        isVisible : false,
        errorS:'error',
        message : ''
      }
    },
    created () {
      axios({
        url: this.url,
        method: 'GET',
        responseType: 'json',
      }).then((response) => {
        this.tenders = response.data;
      });
    },
    methods :{
      // Guardar pregunta sobre la licitacion seleccionada
      saveQuestionTender : function(){
        this.urlQuestion = this.urlQuestion.replace("{id_tender}",this.tender.id);
        axios({
          url: this.urlQuestion,
          method: 'POST',
          responseType: 'json',
          data: {
            name: this.question
          }
        }).then((response) => {
          this.question = '';
          this.isVisible = true;
          this.errorS = 'success';
          this.message = 'La pregunta se cargo correctamente.'
          
        }).catch((error) => {
          this.errorS = 'error';
          this.isVisible = true;
          this.message = 'Ocurrio algún error.'
        });
        this.urlQuestion = 'http://localhost:8080/v1/tenders/{id_tender}/questions';
      },
      // Setear la licitacion seleccionada
      setTender : function(key){
        this.tender = this.tenders[key-1];
      }
    }
  }
</script>
<style scoped>
  #question{
    margin-top: 200px;
  }
</style>