<template>
	 <v-jumbotron>
    <v-container fill-height>
      <v-layout align-center>
        <v-flex>
          <h3 class="display-3">Información para ser proveedor</h3>

          <span class="subheading">
            <ul>
              <li>PASO 1: Llenar solicitud de registro o revalidación en el Padrón de Proveedores,  así como el
                formato de autorización para el pago por transferencia bancaria electrónica. Los formatos en
                mención se proporcionan en la Proveeduría Municipal, ubicada en Edificio del Real, Av.
                Independencia y Victoria, 7o. Piso.
              </li>
              <li> Paso 2: Realizar el pago correspondiente de $ 1,096.00 pesos presentando la solicitud de registro completa para efectuar el pago en la calle 6ta y Mina, en la cual se ubica la Tesorería Municipal.
              </li>
              <li>Paso 3: Presentar la siguiente documentación en la Proveeduría Municipal.</li>
          </ul>
          </span>

          <v-divider class="my-3"></v-divider>

          <div class="title mb-3">Descargar información detallada</div>
          <v-btn
            class="mx-0"
            color="primary"
            large
            @click="downloadFile">
            Información detallada
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-jumbotron>
</template>
<script>
  import axios from 'axios';

	export default {
		name : 'Information',
    data: function () {
      return {
        url : 'http://localhost:8080/downloadFile/pdf/requisitosParaSerProveedor.pdf',
      }
    },
    methods: {
      downloadFile: function(){
        axios({
          url: this.url,
          method: 'GET',
          responseType: 'blob', // important
        }).then((response) => {
          const url = window.URL.createObjectURL(new Blob([response.data]));
          const link = document.createElement('a');
          link.href = url;
          link.setAttribute('download', 'file.pdf');
          document.body.appendChild(link);
          link.click();
        });
      }
    }
	}
</script>