<template>
	<v-list dense>
        <template v-for="item in items">
      		<v-layout v-if="item.heading" :key="item.heading" row align-center>
            	<v-flex xs6>
              		<v-subheader v-if="item.heading">
                		{{ item.heading }}
              		</v-subheader>
            	</v-flex>
            	<v-flex xs6 class="text-xs-center">
              		<a href="#!" class="body-2 black--text">EDIT</a>
            	</v-flex>
      		</v-layout>
      		<v-list-group 
      			v-else-if="item.children" v-model="item.model" 
      			:key="item.text" :prepend-icon="item.model ? item.icon : item['icon-alt']"
            	append-icon="">
            	<v-list-tile slot="activator">
              		<v-list-tile-content>
                		<v-list-tile-title>
                  			{{ item.text }}
                		</v-list-tile-title>
              		</v-list-tile-content>
            	</v-list-tile>
            	<v-list-tile
          			v-for="(child, i) in item.children" :key="i" @click="">
          			<v-list-tile-action v-if="child.icon">
                		<v-icon>{{ child.icon }}</v-icon>
              		</v-list-tile-action>
              		<v-list-tile-content>
                		<v-list-tile-title>
                  			{{ child.text }}
                		</v-list-tile-title>
              		</v-list-tile-content>
            	</v-list-tile>
          	</v-list-group>
          	<v-list-tile v-else :key="item.text" @click="" :to="item.to">
            	<v-list-tile-action>
              		<v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
	            <v-list-tile-content>
	              <v-list-tile-title>
	                {{ item.text }}
	              </v-list-tile-title>
	            </v-list-tile-content>
          	</v-list-tile>
        </template>
	</v-list>
</template>

<script>
  export default {
  	name: 'Menu',
    data: () => ({
      dialog: false,
      drawer: null,
      items: [
        // Menu para solicitar información para ser proveedor (Caso 1)
        { 	
          icon: 'announcement', 
        	text: 'Requisitos para ser proveedor', 
        	to:'/information' 
        },
        // Menu para realizar pregunta a licitacion (Caso 2)
        { 
          icon: 'content_copy', 
          text: 'Preguntar sobre licitación' ,
          to:'/askAboutLicitacion'
        },
        // Menu para realizar calificación de propuesta tecnica a licitacion (Caso 3)
        { 
          icon: 'history', 
          text: 'Calificar propuesta técnica de licitacion',
          to:'/qualifyTechnicalTender' 
        }
      ]
    }),
    props: {
      source: String
    }
  }
</script>