<template>
  <v-container wrap>
    <v-layout row>
      <v-flex xs10 offset-xs1>
        <p class="text-md-center display-3">Licitaciones</p>
      </v-flex>
    </v-layout>
    <v-spacer></v-spacer>
    <v-layout row wrap>
      <v-flex xs10 offset-xs1>
        <v-data-table
          :headers="headers"
          :items="tenders"
          hide-actions
          class="elevation-1">
          <template slot="items" slot-scope="props">
            <td>{{ props.item.name }}</td>
            <td class="text-xs-right">{{ props.item.description }}</td>
            <td class="text-xs-right">{{ props.item.date | dateFormat }}</td>
            <td class="text-xs-right">
              <v-btn v-if="props.item.tenderTechniqueQualification == null" color="info"  @click.prevent="openDialog(props.item)">Calificar</v-btn>
              <div v-else>{{ props.item.tenderTechniqueQualification | qualifyFilter }}</div>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    <!--Dialogo -->
    <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="360">
      <!--v-btn slot="activator" color="primary" dark>Open Dialog</v-btn-->
      <v-card>
        <v-card-title class="headline">{{ tender.name }}</v-card-title>
        <v-card-text>{{ tender.description }}.</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="info darken-1" flat @click.native="dialog = false">Cerrar</v-btn>
           <v-spacer></v-spacer>
          <v-btn color="error darken-1" flat @click.native="qualify(false)">No Aprobar</v-btn>
          <v-btn color="success darken-1" flat @click.native="qualify(true)">Aprobar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios'
import moment from 'moment'

export default {
  name: 'QualifyTechnicalTender',
  props: {
    msg: String
  },
  data () {
      return {
        url : 'http://localhost:8080/v1/tenders',// url rest web services pra obtener todas las licitaciones
        url2 : 'http://localhost:8080/v1/tenders/{id_tender}/technicalTender/qualify/', // url rest web service para calificar la propuesta tecnica de la licitacion
        tenders : [],// Licitaciones
        tender : '', // Licitacion seleccionada
        headers : [ // Cabezeras de las tablas
          { 
            text: 'Clave', 
            value: 'name',
            align: 'center', 
            sortable: true 
          },
          { 
            text: 'Descripción', 
            value: 'description',
            align: 'center', 
            sortable: true 
          },
          { 
            text: 'Fecha de alta', 
            value: 'date',
            align: 'center', 
            sortable: true 
          },
          { 
            text: 'Propuesta Técnica', 
            value: 'thecnique_tender',
            align: 'center', 
            sortable: true 
          }
        ],
        dialog: false// mostrar o no mostrar ventana de dialogo
      }
  },
  created () {
     axios({
        url: this.url,
        method: 'GET',
        responseType: 'json',
      }).then((response) => {
        this.tenders = response.data;
        console.log(this.tenders);
      });
  },
  filters: {
    dateFormat: function (value) {
      if (!value) return ''
        return moment(value).format('L');
    },
    qualifyFilter: function (value) {
      return value ? 'Aprobado' : 'No Aprobado';
    }
  },
  methods: {
    getTenders : function(){
      axios({
        url: this.url,
        method: 'GET',
        responseType: 'json',
      }).then((response) => {
        this.tenders = response.data;
        console.log(this.tenders);
      });
    },
    openDialog : function(tender){
      this.tender = tender;
      this.dialog = true;
    },
    qualify: function(value){
      var self = this;
      this.url2 = this.url2.replace("{id_tender}",this.tender.id)+value;
      axios({
        url: this.url2,
        method: 'POST',
      }).then((response) => {
        console.log(response.status);
        self.url2 = 'http://localhost:8080/v1/tenders/{id_tender}/technicalTender/qualify/';
        self.dialog = false;
        self.refreshData();
      });
      
    },
    refreshData : function(){
      this.tenders = [];
      this.getTenders();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
